* {
  padding: 0;
  margin: 0;
}

#stream,
#joystick,
#wheel-chair {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

#joystick {
  height: 320px;
}

#wheel-chair > * {
  display: block;
  width: 100%;
  height: 2em;
  appearance: none;
  background: #d3d3d3;
  margin-bottom: 1em;
  margin-top: 1em;
}
