* {
  padding: 0;
  margin: 0;
}

#stream, #joystick {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

#joystick
{
  height: 320px;
}
